node_modules
public
resources
.netlify
.hugo_build.lock
.DS_Store
.bash_history

# Editor / IDE config
.idea
.vscode
*.swp

# Terraform generated
.terraform/
terraform.tfstate
terraform.tfstate.backup
terraform.tfstate.*.backup
.terraform.tfstate.lock.*
.terraform.lock.hcl

# required by google-github-actions
gha-creds-*.json
