 <!-- Auto collapsible section menu -->
 {{ $currentPage := . -}}
 {{ $section := $currentPage.Section -}}
 <div class="d-flex flex-column">
  {{- $showFlexSearch := .Site.Params.options.flexSearch }}
  {{- if $showFlexSearch }}
  {{- if and (isset .Site.Params.options "searchsectionsshow") (not (eq .Site.Params.options.searchSectionsShow "ALL")) }}
  {{- $showFlexSearch = or (eq (len .Site.Params.options.searchSectionsShow) 0) (in .Site.Params.options.searchSectionsShow .Section) (and .IsHome (in .Site.Params.options.searchSectionsShow "HomePage")) }}
  {{- end }}
  {{- end }}

  {{ if $showFlexSearch -}}
  <div class="search-container">
    <div class="navbar-title-padding">
      <svg class="index-logo" width="20" height="20" viewBox="0 0 72 72" fill="none"
      xmlns="http://www.w3.org/2000/svg">
      <path d="M36 0V33C36 34.6569 37.3431 36 39 36H72L36 0Z" fill="#F99AFB" />
      <path d="M36 0L72 36V3C72 1.34315 70.6569 0 69 0H36Z" fill="currentColor" />
      <path
        d="M39 36H72V69C72 70.6569 70.6569 72 69 72H36C16.1177 72 -8.69081e-07 55.8822 0 36C8.69081e-07 16.1177 16.1178 -8.69081e-07 36 0L36 33C36 34.6569 37.3431 36 39 36Z"
        fill="#3443F4" />
      </svg>
      <a class="navbar-title" href="/">Chainguard Academy</a>
    </div>
    <form class="doks-search position-relative flex-grow-1">
      <input class="search form-control is-search" type="search" placeholder="Search" aria-label="Search" autocomplete="off">
    </form>
  </div>
  {{ end -}}
   {{ range $index, $section := sort .Site.Sections "Weight" }}
     {{ if ne $index 0 }}
       {{ $active := in $currentPage.RelPermalink .RelPermalink }}
         <p class="sidebar-category text-uppercase">
           {{ .LinkTitle }}
         </p>
         <div class="show" id="section-{{ md5 .LinkTitle }}">
           <ul class="btn-toggle-nav list-unstyled fw-normal small">
             {{ range where .Pages ".Params.unlisted" "!=" "true" }}
               {{ if .IsNode }}
                 {{ $active := in $currentPage.RelPermalink .RelPermalink }}
                 {{ $selected := eq $currentPage.RelPermalink .RelPermalink }}
                 {{ if ne .Title "Videos" }}
                   <li class="my-0 sidebar-item-list-item {{if $selected }} sidebar-item-list-item-selected {{ end }}">
                     <div class="sidebar-item-top d-flex gap-1 justify-content-between align-items-center sidebar-item {{if $active }} sidebar-item-active {{ end }}">
                        <button class="{{if $active }} sidebar-item-active {{ end }} mx-0 border-0 bg-transparent d-flex align-items-center justify-content-between rounded sidebar-subcategory w-100 {{ if not $active }} collapsed {{ end }}" style="text-align:left" data-bs-toggle="collapse" data-bs-target="#section-{{ md5 .LinkTitle }}" aria-expanded="{{ if $active }}true{{ else }}false{{ end }}">
                          <a href="{{if $selected }}#{{ else }}{{ .Permalink }}{{ end }}" class="sidebar-item-top sidebar-item mx-0 p-0">
                            <span>{{ .LinkTitle }}</span>
                          </a>
                          <div class="chevron-rotator">
                            <i class="bi bi-chevron-right {{if $active }} sidebar-icon-active {{ end }}"></i>
                          </div>
                        </button>
                     </div>
                     <div class="collapse{{ if $active }} show{{ end }}" id="section-{{ md5 .LinkTitle }}">
                       <ul class="btn-toggle-nav list-unstyled fw-normal small">
                         {{ range where .Pages ".Params.unlisted" "!=" "true" }}
                           {{ if .IsNode }}
                             {{ $active := in $currentPage.RelPermalink .RelPermalink }}
                             {{ $selected := eq $currentPage.RelPermalink .RelPermalink }}
                             <li class="sidebar-item-list-item {{if $selected }} sidebar-item-list-item-selected {{ end }}">
                               <div class="d-flex gap-1 justify-content-between align-items-center sidebar-item {{if $active }} sidebar-item-active {{ end }}">
                                  <button class="{{if $active }} sidebar-item-active {{ end }} border-0 bg-transparent d-flex align-items-center justify-content-between rounded sidebar-subcategory w-100 sidebar-item {{if not $active }} collapsed {{end}}" data-bs-toggle="collapse" data-bs-target="#section-{{ md5 .LinkTitle }}" aria-expanded="{{ if $active }}true{{ else }}false{{ end }}">
                                    <a href="{{if $selected }}#{{ else }}{{ .Permalink }}{{ end }}" class="sidebar-item mx-0 p-0">
                                      <span>{{ .LinkTitle }}</span>
                                    </a>
                                    <div class="chevron-rotator">
                                      <i class="bi bi-chevron-right {{if $active }} sidebar-icon-active {{ end }}"></i>
                                    </div>
                                  </button>
                               </div>
                               <div class="collapse{{ if $active }} show{{ end }}" id="section-{{ md5 .LinkTitle }}">
                                 <ul class="btn-toggle-nav list-unstyled fw-normal small">
                                  {{ range where .Pages ".Params.unlisted" "!=" "true" }}
                                    {{ $active := in $currentPage.RelPermalink .RelPermalink }}
                                    <li class="sidebar-item-list-item {{if $active }} sidebar-item-list-item-selected {{ end }}">
                                      <a class="sidebar-subcategory docs-link rounded {{ if $active }} sidebar-item-active active {{ end }} sidebar-item" href="{{ .Permalink }}">{{ .LinkTitle }}</a>
                                    </li>
                                  {{ end }}
                                 </ul>
                               </div>
                             </li>
                           {{ else }}
                             {{ $active := in $currentPage.RelPermalink .RelPermalink }}
                             <li class="sidebar-item-list-item {{if $active }} sidebar-item-list-item-selected {{ end }}">
                              <a class="sidebar-subcategory docs-link rounded {{ if $active }} sidebar-item-active active {{ end }} sidebar-item" href="{{ .Permalink }}">{{ .LinkTitle }}</a>
                             </li>
                           {{ end }}
                         {{ end }}
                       </ul>
                     </div>
                   </li>
                 {{ end }}
               {{ else }}
                 {{ $active := in $currentPage.RelPermalink .RelPermalink }}
                 <li><a class="mx-0 sidebar-subcategory docs-link rounded {{ if $active }} sidebar-item-active active {{ end }} sidebar-item sidebar-item-top" href="{{ .Permalink }}">{{ .LinkTitle }}</a></li>
               {{ end }}
             {{ end }}
           </ul>
         </div>
     {{ end }}
   {{ end }}
 </div>
