{{ if and (ne .Params.toc false) (ne .TableOfContents "<nav id=\"TableOfContents\"></nav>") -}}
  <div class="page-links">
    <h3 class="righthand-title">Quick Nav</h3>
    <div class="tocLinks">
      {{ .TableOfContents }}
    </div>
  </div>
{{ end -}}

{{- $righthand := resources.Get "js/righthand.js" -}}
  {{ $scrollRighthand := resources.Get "js/scrollRighthand.js" }}
  {{ $scrollRighthand := $scrollRighthand | minify }}

  
{{ $scss := resources.Get "scss/righthand.scss" }}
{{ $righthand_style := $scss | resources.ToCSS }}
{{ $righthand_style := $righthand_style | minify }}

{{/* Add righthand.css styling */}}
  <link rel="stylesheet" href="{{ $righthand_style.Permalink }}" />

{{/*  Add righthand.js script   */}}
<script src="{{ $righthand.Permalink }}" integrity="{{ $righthand.Data.Integrity }}"></script>
{{/*  Add scrollRighthand.js script   */}}
<script src="{{ $scrollRighthand.Permalink }}" integrity="{{ $scrollRighthand.Data.Integrity }}"></script>
