{{ $currentPage := . -}}
{{ $active := in $currentPage.RelPermalink .RelPermalink }}

{{ $section := .Section -}}

{{ $allsections := slice }}



<h1>Prev in section</h1>
<p>
  {{ .PrevInSection }}
</p>
<h1>Next in section</h1>
<p>
  {{ .NextInSection }}
</p>

<h1>Prev</h1>
<p>
  {{ .Prev }}
</p>
<h1>Next</h1>
<p>
  {{ .Next }}
</p>

{{ range $index, $section := sort .Site.Sections "Weight" }}
{{ $allsections = $allsections | append . }}

<!-- Second level -->
{{ range .Sections }}
{{ $allsections = $allsections | append . }}

<!-- Third level -->
{{ range .Sections }}
{{ $allsections = $allsections | append . }}

{{ range .Sections }}
{{ $allsections = $allsections | append . }}


{{ range .Sections }}
{{ $allsections = $allsections | append . }}


<!-- End section finding loop -->
{{ end }}
{{ end }}
{{ end }}
{{ end }}
{{ end }}


{{ if or .PrevInSection .NextInSection -}}
<div class="docs-navigation">

  {{ with .NextInSection }}
  <a class="docs-navigation-button docs-navigation-button-previous" href="{{ .RelPermalink }}">
    <div class="chevron-rotator">
      <svg xmlns="http://www.w3.org/2000/svg" width="10" height="15" viewBox="0 0 10 6" fill="none">
	<path d="M1.06199 5.729L0.291992 4.938L4.99999 0.229004L9.70799 4.938L8.93799 5.729L4.99999 1.792L1.06199 5.729Z" fill="currentColor"/>
      </svg>
    </div>
    <span class="next-in-line">{{ .Title }}</span>
    <span class="next-in-line">Prev&nbsp;&nbsp;</span>
  </a>
  {{ end -}}
  <!-- end previous -->

  {{ with .PrevInSection }}
  <a class="docs-navigation-button docs-navigation-button-next" href="{{ .RelPermalink }}">
    <span class="next-in-line">{{ .Title }}</span>
    <span class="next-in-line">&nbsp;&nbsp;Next</span>
    <div class="chevron-rotator">
      <svg xmlns="http://www.w3.org/2000/svg" width="10" height="15" viewBox="0 0 10 6" fill="none">
	<path d="M1.06199 5.729L0.291992 4.938L4.99999 0.229004L9.70799 4.938L8.93799 5.729L4.99999 1.792L1.06199 5.729Z" fill="currentColor"/>
      </svg>
    </div>
  </a>
  {{ end -}}                


</div>
{{ end }}


{{ $allsections }}

<!-- {{ range $allsections }}
     <p>
     {{ .Title }}
     </p>
     {{ end }} -->
