// [id^="rumble"] matches the vulnerability information page wrapper,
// id="rumble-vuln", and the elements nested inside it.

[id^="rumble"] .search {
  order: 5;
  flex: 1;
}

[id^="rumble"] .search ul {
  list-style: none;
  height: 1rem;
  float: right;
  margin: 0;
}

[id^="rumble"] .search ul li {
  display: inline-flex;
}

[id^="rumble"] .search ul li input {
  margin: 0;
  min-width: 160px;
  height: 48px !important;
  vertical-align: middle;
  font-size: 16px;
  padding: 0 1rem 0 2rem;
  background: var(--search-icon-url) !important;
  background-repeat: no-repeat !important;
  background-color: var(--severity-search-background) !important;
  background-size: 1em !important;
  background-position: 12px 16px !important;
  border: 1px solid var(--search-background);

  &:focus {
    border: 1px solid var(--severity-search-border);
  }
}

.tables {
  display: flex;
  flex-wrap: wrap;
  margin-top: 42px;
}

// empty span, used as the background for segmented button
.tables #segmentBackground {
  position: absolute;
  background: var(--segmented-button-background);
  width: 222px;
  height: 48px;
  z-index: -1;
  border-radius: 100px;
}

.tables label {
  order: 0; // Put the labels first
  padding: 9px 16px 7px 16px;
  background: none;
  cursor: pointer;
  border: none;
  border-radius: 100px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  height: 42px;
  color: var(--segmented-button-color);
  margin: 3px -4px 0 4px;
}

// needed since tables and labels are intermixed in the DOM
// must make tables last for segmented selector to work
.tables .tab-content {
  order: 99; // Put the tabs last
  width: 100%;
  display: none;
  background: none;
  table-layout: fixed;
  margin: 42px 0 0 0 !important; //
}

// make table headings stick when scrolling
.tables table th {
  font-weight: 500 !important;
  position: sticky;
  top: 0;
  background: var(--table-row-background);
}

.tables table thead,
tbody,
tr,
td,
th {
  border-bottom: 1px solid var(--table-row-border-color) !important;
  width: 25%;
  padding: 24px 12px;
}

.tables table tbody tr:hover {
  background: var(--table-row-hover-background);
}

.tables input[type="radio"] {
  display: none;
}

.tables input[type="radio"]:checked+label {
  background: var(--segmented-button-checked);
  color: white;
}

// show table when its radio is checked, default is display: none
.tables input[type="radio"]:checked+label+.tab-content {
  display: block;

  table {
    --bs-table-bg: none;

    border-collapse: separate;
    border-spacing: 0;
    margin: 0 !important;

    tbody {
      border-top: none !important;

      tr {
        color: var(--table-vulnerability-color);

        &:hover {
          background: var(--table-row-hover-background);
        }

        td {
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: 22px;
        }

        td a {
          color: var(--table-vulnerability-color);
        }
      }
    }
  }
}

// remove info icon on vulnerability info pages
blockquote::before {
  content: none;
}
