@import "common/fontfamilies";
@import "common/theming";

.terminal {
  position: sticky;
  bottom: 0;
  border-top: 1px solid var(--terminal-border);
  background-color: var(--terminal-background);
  margin-left: 0;
  margin-right: 0;

  .terminal-top-container {
    padding: 0;
    min-height: 294px;
    display: flex;
    flex-direction: column;
  }

  #terminal-container {
    z-index: 1000 !important;
    flex: 1;

    iframe {
      height: 100%;
      display: block;
      width: 100%;
    }
  }

  #terminal-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--terminal-border);
    font-size: 14px;
    font-weight: 500;
    color: var(--terminal-color);
    padding: 0 12px 0 24px;
    z-index: 1001 !important;

    .grab-container {
      cursor: ns-resize;
    }

    #grab {
      width: 40px;
      height: 5px;
      background-color: var(--terminal-handle);
      border-radius: 20px;
      text-align: center;
      margin-bottom: 12px;
    }

    .icon {
      color: var(--terminal-color);
    }
  }
}

.terminal-title {
  color: var(--terminal-title-color);
}

.height--auto {
  height: auto !important;
}

.resizable.moving:after {
  content: "";
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  z-index: 9999;
}

.resizable-handler {
  position: absolute;
  bottom: calc(100% - 2px);
  height: 4px;
  right: 0;
  left: 0;
  z-index: 9999;
}

.moving > .resizable-handler {
  pointer-events: auto;
  border-top: 2px solid var(--terminal-border);
}

#close-button {
  padding: 0;
}

.button-container {
  display: flex;
}
