$dark: #080808;
$light: #f8f8f8;
$chainguard--dark-blue: #3878c8;
$chainguard--light-blue: #48a8e8;

#terminal-container {
  position: fixed;
  bottom: 1.5rem;
  left: 0;
  width: 100%;
  font-family: monospace;
  padding: 0;
  margin: 0;
  z-index: 1000 !important;

  iframe {
    border: 1px solid $chainguard--light-blue;
    display: block;
    height: 350px;
    margin: 0 auto;
    width: 55rem;
    padding: 0.25rem;
    border-radius: 10px 10px 0px 0px;
    box-shadow: 0px 5px 30px -15px gray;
    background: white;
  }
}

#terminal-nav {
  width: 100%;
  margin: 0 auto;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 1001 !important;

  nav {
    background: $chainguard--dark-blue;
    width: 55rem;
    margin: 0 auto;
    padding: 0rem;
    display: block;
    text-align: right;
    height: 1.5rem;
    line-height: 1.5rem;

    ul {
      margin: 0;

      li#note {
        float: left;
      }

      li#close-button {
        cursor: pointer;
      }

      li {
        display: inline;
        margin: 0 1rem;
        padding: 0;
        text-decoration: none;
        color: white;
      }
    }
  }
}

footer {
    margin-bottom: 375px;
}
