.docs-toc {
  scrollbar-width: thin;
  scrollbar-color: $white $white;
}

.docs-toc::-webkit-scrollbar {
  width: 5px;
}

.docs-toc::-webkit-scrollbar-track {
  background: $white;
}

.docs-toc::-webkit-scrollbar-thumb {
  background: $white;
}

.docs-toc:hover {
  scrollbar-width: thin;
  scrollbar-color: $gray-200 $white;
}

.docs-toc:hover::-webkit-scrollbar-thumb {
  background: $gray-200;
}

.docs-toc::-webkit-scrollbar-thumb:hover {
  background: $gray-200;
}

a.docs-link {
  color: $body-color;
  display: block;
  padding: 0.125rem 0;
  font-size: $font-size-base;
}

.docs-link:hover,
.docs-link.active {
  text-decoration: none;
  color: $link-color;
}

.nav-link.active,
.dropdown-menu-main .dropdown-item.active,
.docs-link.active {
  font-weight: 500;
}
