An attestation is a cryptographically verifiable statement about a software artifact. Attestations include a subject, a software artifact or artifacts to which the attestation applies, and a predicate, a claim or proposition about the subject. For example, an attestation might assert that a specific container image was built on a specific date using a specific configuration, and that assertion could be cryptographically verified as issuing from a specific organization or entity.

Attestations are commonly used for associating useful metadata such as [SBOMs](/open-source/sbom/what-is-an-sbom/) or [SLSA provenance](https://edu.chainguard.dev/open-source/slsa/what-is-slsa/) with a specific artifact such as an OCI container image. In the case of an SBOM (Software Bill of Materials), the attestation proposes that the software artifact contains a specific set of packages. In the case of SLSA provenance, the attestation claims that a specific build environment was used to create the artifact.

Attestations verify that a specific trusted entity issued specific metadata about a generated software artifact, and can also indicate that software artifacts and associated documents have not been tampered with. The SLSA project page hosts further [detailed information on the attestation model](https://slsa.dev/attestation-model).




- A predicate, or a claim or proposition


describing the artifact or artifacts to which the attestation applies.
