<blockquote>
<p><strong>Note</strong>: <code>chainctl auth login</code> supports several login flows, including device-code login for machines without a browser and assumable identities for CI. If the default browser flow doesn't work in your environment, see <a href="/platform/chainctl-usage/authentication-options/">Authentication options</a>.{{ if eq (.Get "console") "true" }} You can also complete this task in the <a href="https://console.chainguard.dev/">Chainguard Console</a>.{{ end }}</p>
</blockquote>
