<p>
  <a href="https://developer.nvidia.com/cuda-toolkit">Compute Unified Device Architecture (CUDA)</a> is a parallel computing platform developed by NVIDIA. To take advantage of connected NVIDIA GPUs, you’ll need to follow the setup instructions for your local machine or create a CUDA-enabled instance on a cloud provider.
</p>
<p>
  To set up CUDA on your local machine, follow the installation instructions for <a href="https://docs.nvidia.com/cuda/cuda-installation-guide-linux/index.html">Linux</a> or <a href="https://docs.nvidia.com/cuda/cuda-installation-guide-microsoft-windows/index.html">Windows</a>. CUDA is not currently supported on Mac OS.
</p>
<p>
  Google Cloud Platform provides CUDA-ready <a href="https://cloud.google.com/deep-learning-vm">deep learning instances</a>, including <a href="https://cloud.google.com/deep-learning-vm/docs/pytorch_start_instance">PyTorch-specific instructions</a>. Amazon Web Services also provides CUDA-ready <a href="https://aws.amazon.com/machine-learning/amis/">deep learning instances</a>.
</p>
