Deep learning is a subset of machine learning that leverages a flexible computational architecture, the neural network, to address a wide variety of tasks. Neural networks emulate the structure of the brain and consist of interconnected nodes (neurons) that each contain an associated weight and threshold. These values determine whether data is propagated within the network, producing an output layer corresponding to a classification, prediction, or other result.

 By technical convention, a deep neural network (DNN) has at least three layers: an input layer, an output layer, and one or more hidden layers. In practice, DNNs often have many layers.

Deep neural networks underpin many common computational tasks in modern applications, such as speech to text and generative AI.
