<script>
  (function(e,t){var n=e.amplitude||{_q:[],_iq:{}};
  var r=t.createElement("script");r.type="text/javascript";
  r.integrity="sha384-RXg9t8S3YkP4zZ8Ytq5qzW8j5Rk1U0Z9k+0nZJ0q9z7GZx7q0Z0pZ1k5Y1Q";
  r.crossOrigin="anonymous";
  r.async=true;
  r.src="https://cdn.amplitude.com/libs/amplitude-8.18.1-min.gz.js";
  r.onload=function(){if(!e.amplitude.runQueuedFunctions){
    console.log("[Amplitude] Error: could not load SDK");}};
  var i=t.getElementsByTagName("script")[0];i.parentNode.insertBefore(r,i);
  function s(e,t){e.prototype[t]=function(){
    this._q.push([t].concat(Array.prototype.slice.call(arguments,0)));
    return this;}}
  var o=function(){this._q=[];return this;};
  var a=["add","append","clearAll","prepend","set","setOnce","unset"];
  for(var c=0;c<a.length;c++){s(o,a[c]);}
  n.Identify=o;
  var u=function(){this._q=[];return this;};
  var l=["setProductId","setQuantity","setPrice","setRevenueType","setEventProperties"];
  for(var p=0;p<l.length;p++){s(u,l[p]);}
  n.Revenue=u;
  var d=["init","logEvent","setUserId","setUserProperties","setOptOut","setVersionName","setDomain","setDeviceId","enableTracking","setGlobalUserProperties"];
  for(var v=0;v<d.length;v++){s(n,d[v]);}
  e.amplitude=n;
  })(window,document);

  amplitude.init("236e35f9a2d73bd6ef119c59d1f41ffb", {
    defaultTracking: {
      pageViews: true,
      sessions: true
    }
  });
    amplitude.logEvent("docs_page_view", {
    path: window.location.pathname,
    title: document.title
  });
</script>
