{{ if .Params.terminalImage }}
<div class="resizable-handler"></div>
<div class="terminal-top-container" style="display: none;">
  <div id="terminal-nav">
      <div class="terminal-title">Terminal</div>
      <div class="d-flex align-items-center grab-container">
        <div id="grab"></div>
      </div>
      <div class="button-container">
        <a class="a--original" href="/chainguard/chainguard-enforce/how-to-install-chainctl/">
          <button class="tooltip-container">
            <svg width="12" height="13" viewBox="0 0 12 13" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M1.74999 12.583C1.37533 12.583 1.05933 12.4547 0.801992 12.198C0.545326 11.9407 0.416992 11.6247 0.416992 11.25V10H1.49999V11.25C1.49999 11.3053 1.52766 11.361 1.58299 11.417C1.63899 11.4723 1.69466 11.5 1.74999 11.5H10.25C10.3053 11.5 10.361 11.4723 10.417 11.417C10.4723 11.361 10.5 11.3053 10.5 11.25V10H11.583V11.25C11.583 11.6247 11.4547 11.9407 11.198 12.198C10.9407 12.4547 10.6247 12.583 10.25 12.583H1.74999ZM5.99999 9.688L2.60399 6.292L3.37499 5.521L5.45799 7.604V0.270996H6.54199V7.604L8.62499 5.521L9.39599 6.292L5.99999 9.688Z" fill="currentColor"/>
            </svg>
            <span class="tooltip">Download Chainctl</span>
          </button>
        </a>
        <!-- Doesn't work, would need postMessage
        <button id="copy-btn" class="tooltip-container">
          <img src="copy.svg"/>
          <span class="tooltip">Copy</span>
        </button>
         -->
        <button id="close-button" class="tooltip-container">
          <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1.06199 9.70799L0.291992 8.93799L4.22899 4.99999L0.291992 1.06199L1.06199 0.291992L4.99999 4.22899L8.93799 0.291992L9.70799 1.06199L5.77099 4.99999L9.70799 8.93799L8.93799 9.70799L4.99999 5.77099L1.06199 9.70799Z" fill="currentColor"/>
          </svg>
          <span class="tooltip">Close</span>
        </button>
    </div>
  </div>

  <div id="terminal-init" data-image="{{ .Params.terminalImage }}">
  </div>

</div>
  

{{/* Add concatenation and minification to these */}}
{{- $terminal := resources.Get "js/terminal.js" -}}
{{ $scss := resources.Get "scss/terminal.scss" }}
{{ $terminal_style := $scss | resources.ToCSS }}


{{/* Add terminal.css styling */}}
<link rel="stylesheet" href="{{ $terminal_style.Permalink }}" />

{{/*  Display terminal.js script   */}}
<script src="{{ $terminal.Permalink }}" integrity="{{ $terminal.Data.Integrity }}"></script>

<script src="//cdn.jsdelivr.net/npm/interactjs@1.10.17/dist/interact.min.js"></script>
{{ end }}
