{{ define "main"}}
<div class="row justify-content-center topic-container flex-shrink-1">
  <div class="col-md-12 col-lg-10 col-xl-8">
    <!-- C&C -->
    <article
      style="
        height: 50dvh;
        display: flex;
        flex-direction: column;
        justify-content: center;
      "
    >
      <h1 class="text-center">Oh no, a missing page!</h1>
      <div class="docs-navigation docs-navigation-summary">
        <a
          class="docs-navigation-button docs-navigation-button-previous"
          href="/"
          style="margin: auto"
        >
          <div class="chevron-rotator">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="10"
              height="15"
              viewBox="0 0 10 6"
              fill="none"
            >
              <path
                d="M1.06199 5.729L0.291992 4.938L4.99999 0.229004L9.70799 4.938L8.93799 5.729L4.99999 1.792L1.06199 5.729Z"
                fill="currentColor"
              ></path>
            </svg>
          </div>
          <span>Home&nbsp;&nbsp;</span>
        </a>
      </div>
    </article>
  </div>
</div>
{{ end }}
