{{ define "main" }}
<section class="section container-fluid mt-n3 pb-3">
  <div class="row justify-content-center">
    <div class="col-lg-12 text-center">
      <h1 class="mt-0">{{ .Site.Params.Title }}</h1>
    </div>
    <div class="col-lg-9 col-xl-8 text-center">
      <p class="lead">{{ .Site.Params.description | safeHTML }}</p>
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-prefooter" }}
<section class="section section-sm">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-lg-5">
        <i class="bi-sort-alpha-down featured-icon chainguard-blue"></i>
        <h2 class="h4">Glossary</h2>
        <p>The <a href="/software-security/glossary/">Software Supply Chain Glossary</a> contains definitions for relevant acronyms, tools, and projects in the software supply chain ecosystem. </p>
      </div>
      <div class="col-lg-5">
        <i class="bi-file-text featured-icon chainguard-blue"></i>
        <h2 class="h4">Articles</h2>
        <p>Our articles cover software supply chain security in practice, including how to implement best practices and how to automate compliance checks.</p>
      </div>
      <div class="col-lg-5">
        <i class="bi-person-workspace featured-icon chainguard-blue"></i>
        <h2 class="h4">Courses</h2>
        <p>Learn about software supply chain security with the <a href="https://www.edx.org/course/securing-your-software-supply-chain-with-sigstore">Sigstore Edx Course</a>, brought to you by the Linux Foundation in partnership with Chainguard.</p>
      </div>
    </div>

    <!--
    <div class="row justify-content-center text-center">
      <div class="col-lg-5">
        <i class="bi-play-btn featured-icon chainguard-blue"></i>
        <h2 class="h4">Videos</h2>
        <p>Search your site with FlexSearch.</p>
      </div>
      <div class="col-lg-5">
        <i class="bi-person-video3 featured-icon chainguard-blue"></i>
        <h2 class="h4">Talks</h2>
        <p>Build pages with a landing page, blog, or documentation layout. Add custom sections and components to suit your needs.</p>
      </div>
      <div class="col-lg-5">
        <i class="bi-chat featured-icon chainguard-blue"></i>
        <h2 class="h4">Get in Touch</h2>
        <p>Get in touch by joining the Sigstore Slack.</p>
      </div>
    </div>
    !-->
  </div>
</section>

<section class="section section-open-collective mt-3 bg-light py-5">
  <div class=container>
    <h2 class="h3 mt-0 text-center">Ready to get started?</h2>
    <p class=text-center>Our <a href="/software-security/getting-started/">Getting Started Guide</a> contains basic definitions, best practices, <br>and recommendations to secure your software supply chain.</p>
    <p class="text-center mb-0 mt-4"><a class="btn btn-primary px-4 mb-2" href="/software-security/getting-started/" role=button>Quick Start</a></p>
  </div>
</section>

<section class="section section-sm">
  <div class="row justify-content-center">
    <div class="col-lg-12 text-center">
      <p><br><img src="Chainguard_Lockup_Blue.svg" alt="Chainguard logo"></p>
    </div>
  </div>
</section>

{{ end }}

{{ define "sidebar-footer" }}
<section class="section section-sm container-fluid">
  <div class="row justify-content-center text-center">
    <div class="col-lg-9">
      {{- .Content -}}
    </div>
  </div>
</section>
{{ end }}
