{{ if .Site.Params.alert -}}
  {{ partial "header/alert.html" . }}
{{ end -}}

{{/* Top Navigation Bar removed - can be re-enabled later
<div class="top-nav-bar">
  <div class="top-nav-container">
    <div class="top-nav-left">
      <a href="https://www.chainguard.dev" class="top-nav-logo" aria-label="Chainguard">
        <img src="/logos/linky-flat.svg" alt="Chainguard" class="top-nav-logo-img" width="32" height="32">
        <span class="top-nav-brand">Chainguard</span>
      </a>
      <nav class="top-nav-links" aria-label="Primary navigation">
        <a href="https://www.chainguard.dev/platform">Platform</a>
        <a href="https://www.chainguard.dev/solutions">Solutions</a>
        <a href="https://www.chainguard.dev/customers">Customers</a>
        <a href="https://www.chainguard.dev/resources">Resources</a>
        <a href="https://www.chainguard.dev/company">Company</a>
        <a href="https://www.chainguard.dev/pricing">Pricing</a>
      </nav>
    </div>
    <div class="top-nav-right">
      <a href="https://console.chainguard.dev" class="top-nav-login">Login</a>
      <a href="https://www.chainguard.dev/contact?utm_source=docs" class="top-nav-cta">Get started</a>
    </div>
  </div>
</div>
*/}}

<header class="navbar header-background">
  <nav class="container-xxl flex-wrap flex-lg-nowrap" aria-label="Main navigation">
    {{- $showFlexSearch := .Site.Params.options.flexSearch }}
    {{- if $showFlexSearch }}
    {{- if and (isset .Site.Params.options "searchsectionsshow") (not (eq .Site.Params.options.searchSectionsShow "ALL")) }}
    {{- $showFlexSearch = or (eq (len .Site.Params.options.searchSectionsShow) 0) (in .Site.Params.options.searchSectionsShow .Section) (and .IsHome (in .Site.Params.options.searchSectionsShow "HomePage")) }}
    {{- end }}
    {{- end }}

<div class="search-container order-1 me-auto">

  <!-- Desktop trigger -->
  <button
    id="siteSearchTrigger"
    type="button"
    class="search form-control search-box d-none d-lg-block"
    aria-label="Search"
  >
    Search
  </button>

  <!-- Mobile trigger -->
  <button
    id="siteSearchTriggerMobile"
    type="button"
    class="search form-control search-box d-lg-none is-search"
    aria-label="Search"
  >
    Search
  </button>
</div>

<button type="button" class="btn ask-ai-header ask-ai-trigger order-1 d-lg-none">
  <i class="bi bi-stars" aria-hidden="true"></i>
  Ask AI
</button>

    {{ if $showFlexSearch -}}
    <div class="search-container">
      <form class="doks-search position-relative">
        <input class="search form-control is-search search-box" type="search" placeholder="Search" aria-label="Search" autocomplete="off">
      </form>
    </div>
    {{ end -}}

    <button class="btn btn-menu order-2 d-block" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDoks" aria-controls="offcanvasDoks" aria-label="Open main menu">
      <svg width="20" height="20" viewBox="0 2 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M3.208 13.104V14.188H16.792V13.104H3.208Z" fill="currentColor"/>
        <path d="M3.208 5.81201V6.89601H16.792V5.81201H3.208Z" fill="currentColor"/>
        </svg>
    </button>
    <div class="offcanvas offcanvas-end border-0 py-lg-1" tabindex="-1" id="offcanvasDoks" data-bs-backdrop="true" aria-labelledby="offcanvasDoksLabel">
      <div class="offcanvas-header">
        {{ partial "mode-toggle.html" }}
        <button type="button" class="offcanvas-close" data-bs-dismiss="offcanvas" aria-label="Close main menu">
          <svg width="10" height="10" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill="currentColor" d="M1.06199 9.70799L0.291992 8.93799L4.22899 4.99999L0.291992 1.06199L1.06199 0.291992L4.99999 4.22899L8.93799 0.291992L9.70799 1.06199L5.77099 4.99999L9.70799 8.93799L8.93799 9.70799L4.99999 5.77099L1.06199 9.70799Z"/>
          </svg>
        </button>
      </div>
      <div class="offcanvas-body">
        <div class="leftnav-container">
          <div class="board-background leftnav">
            <nav id="sidebar-default" aria-label="Main navigation">
              {{ partial "sidebar/docs-menu.html" . }}
            </nav>
            {{ partial "sidebar/nav-bottom.html" }}
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
{{- if site.Params.options.flexSearch -}}
<div class="suggestions shadow bg-white rounded d-none position-absolute search-content"></div>
{{- end -}}
