{{ if isset .Params "title"}}<h3>{{ .Get "title"}}</h3>{{ end }}
{{ if isset .Params "description"}}<p>{{ .Get "description"}}</p>{{ end }}
<iframe scrolling="no" style="width:100%; min-height:400px; border: none; overflow: hidden"
        src="/rumble/bar/?left={{ .Get "left" }}&right={{ .Get "right" }}">
</iframe>

{{ $rumble := resources.Get "js/rumble/base.js" }}
{{ $rumble := $rumble | minify }}
<script type="module" src="{{ $rumble.Permalink }}" integrity="{{ $rumble.Data.Integrity }}"></script>
