<div>
  <p>
    <a class="btn btn-sm btn-outline-secondary" data-bs-toggle="collapse" data-bs-target="#debianPackagesTable" role="button" aria-expanded="false" aria-controls="debianPackagesTable">
      Click to expand/collapse Debian package mappings table
    </a>
  </p>
  <div class="collapse" id="debianPackagesTable">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Debian Package Name</th>
            <th>Chainguard/Wolfi Package Name(s)</th>
          </tr>
        </thead>
        <tbody>
        {{ range $debian, $chainguard := index $.Site.Data "package-mappings" "packages" "debian" }}
          <tr>
            <td><code>{{ $debian }}</code></td>
            <td>
              {{ if eq (len $chainguard) 0 }}
                <em>(not needed - functionality included in base image)</em>
              {{ else }}
                {{ range $index, $pkg := $chainguard }}
                  {{ if $index }}, {{ end }}<code>{{ $pkg }}</code>
                {{ end }}
              {{ end }}
            </td>
          </tr>
        {{ end }}
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- LLM-friendly: Full table content is in DOM, just CSS hidden for humans -->
