name: Build Platform Docs

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:
  push:
    branches:
      - platform-docs
env:
  PLATFORM_CHANGELOG: "autodocs/platform-changelog.md"

jobs:
  check-new-docs:
    runs-on: ubuntu-latest

    if: github.repository == 'chainguard-dev/edu'

    permissions:
      contents: read # reads from the repo
      id-token: write # federates to talk to storage

    outputs:
      status: ${{ steps.compare-releases.outputs.status }}
      latest: ${{ steps.compare-releases.outputs.latest }}

    steps:
    - name: 'Github Actions Runner'
      uses: step-security/harden-runner@63c24ba6bd7ba022e95695ff85de572c04a18142 # v2.7.0
      with:
        egress-policy: audit

    - name: 'Checkout default branch to $GITHUB_WORKSPACE dir'
      uses: actions/checkout@a5ac7e51b41094c92402da3b24376905380afc29 # v4.1.6

    - name: Authenticate to Google Cloud
      id: auth
      uses: google-github-actions/auth@71fee32a0bb7e97b4d33d548e7d957010649d8fa # v2.1.3
      with:
        service_account: "github-chainguard-academy@chainguard-academy.iam.gserviceaccount.com"
        workload_identity_provider: "projects/456977358484/locations/global/workloadIdentityPools/chainguard-academy/providers/chainguard-edu"

    - id: compare-releases
      name: 'Compare published docs to upstream releases'
      run: |
        latest=$(gcloud storage cat \
          "gs://chainguard-academy/enforce-changelog/changelog.md" | \
          awk '/###/ {print $NF}' | \
          head -n 1)
        current=$(awk '/###/ {print $NF}' \
          ${{ env.PLATFORM_CHANGELOG }} | \
          head -n 1)
        if [ "$current" != "$latest" ]; then
          echo "status=outdated" >> $GITHUB_OUTPUT
          echo "latest=$latest" >> $GITHUB_OUTPUT
        fi

  integrate-platform-docs:
    runs-on: ubuntu-latest

    permissions:
      contents: read # reads from the repo
      id-token: write # federates with GCP and Sigstore

    needs: check-new-docs
    if: needs.check-new-docs.outputs.status == 'outdated'

    steps:
    - name: 'Github Actions Runner'
      uses: step-security/harden-runner@63c24ba6bd7ba022e95695ff85de572c04a18142 # v2.7.0
      with:
        egress-policy: audit

    - name: 'Checkout default branch to $GITHUB_WORKSPACE dir'
      uses: actions/checkout@755da8c3cf115ac066823e79a1e1788f8940201b # v3.2.0

    - name: 'Setup gitsign'
      uses: chainguard-dev/actions/setup-gitsign@main

    - name: Authenticate to Google Cloud
      id: auth
      uses: google-github-actions/auth@71fee32a0bb7e97b4d33d548e7d957010649d8fa # v2.1.3
      with:
        service_account: "github-chainguard-academy@chainguard-academy.iam.gserviceaccount.com"
        workload_identity_provider: "projects/456977358484/locations/global/workloadIdentityPools/chainguard-academy/providers/chainguard-edu"

    - uses: ./.github/workflows/integrate-platform-docs
      with:
        project_id: "${{ secrets.PROJECT_ID }}"
        storage_bucket: "${{ secrets.STORAGE_BUCKET }}"
        platform_changelog: "${{ env.PLATFORM_CHANGELOG }}"

    - uses: actions/setup-node@60edb5dd545a775178f52524783378180af0d1f8 # v4.0.2
      with:
        node-version: 16

    - name: Update themes
      run: git submodule update --init --recursive

    - name: npm install
      run: npm install

    - name: npm run build
      run: npm run build

    - name: Set up Octo-STS
      uses: chainguard-dev/octo-sts-action@6177b4481c00308b3839969c3eca88c96a91775f # v1.0.0
      id: octo-sts
      with:
        scope: chainguard-dev/edu
        identity: edu

    - name: Create a PR
      uses: peter-evans/create-pull-request@c5a7806660adbe173f04e3e038b0ccdcd758773c # v6.1.0
      id: cpr
      with:
        token: ${{ steps.octo-sts.outputs.token }}
        commit-message: Update Images Reference
        title: "[AutoDocs] Update Platform Docs"
        body: "Platform docs ${{needs.check-new-docs.outputs.latest}} autocommit"
        signoff: true
        labels: |
          documentation
          platform
          automated
        assignees: erikaheidi
