name: Build Platform Docs

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:
  push:
    branches:
      - platform-docs

permissions: {}

jobs:
  integrate-platform-docs:
    runs-on: ubuntu-latest

    if: github.repository == 'chainguard-dev/edu'

    permissions:
      contents: read # reads from the repo
      id-token: write # federates with GCP and Sigstore

    steps:
    - name: 'Github Actions Runner'
      uses: step-security/harden-runner@ec9f2d5744a09debf3a187a3f4f675c53b671911 # v2.13.0
      with:
        egress-policy: audit

    - name: 'Checkout default branch to $GITHUB_WORKSPACE dir'
      uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

    - name: 'Setup gitsign'
      uses: chainguard-dev/actions/setup-gitsign@f632aec66edeebe245ad686a33a0c0a2160cac31 # v1.4.14

    - name: Authenticate to Google Cloud
      id: auth
      uses: step-security/google-github-auth@190f7ef9b7a34cc0dfd0c11f0e327365f70071d6 # v2.1.12
      with:
        service_account: "github-chainguard-academy@chainguard-academy.iam.gserviceaccount.com"
        workload_identity_provider: "projects/456977358484/locations/global/workloadIdentityPools/chainguard-academy/providers/chainguard-edu"

    - uses: ./.github/workflows/integrate-platform-docs
      with:
        project_id: "${{ secrets.PROJECT_ID }}"
        storage_bucket: "${{ secrets.STORAGE_BUCKET }}"

    - uses: actions/setup-node@a0853c24544627f65ddf259abe73b1d18a591444 # v5.0.0
      with:
        node-version: 16

    - name: Update themes
      run: git submodule update --init --recursive

    - name: npm install
      run: npm install

    - name: npm run build
      run: npm run build

    - name: Set up Octo-STS
      uses: chainguard-dev/octo-sts-action@6177b4481c00308b3839969c3eca88c96a91775f # v1.0.0
      id: octo-sts
      with:
        scope: chainguard-dev/edu
        identity: edu

    - name: Create a PR
      uses: peter-evans/create-pull-request@271a8d0340265f705b14b6d32b9829c1cb33d45e # v7.0.8
      id: cpr
      with:
        token: ${{ steps.octo-sts.outputs.token }}
        commit-message: Update Images Reference
        title: "[AutoDocs] Update Platform Docs"
        body: "Platform docs ${{needs.check-new-docs.outputs.latest}} autocommit"
        signoff: true
        labels: |
          documentation
          platform
          automated
        assignees: erikaheidi

    - name: Post failure notice to Slack
      uses: step-security/action-slack-notify@cafbebd7b2b3e2f62d6a3cebac172962e7f55c05 # v2.3.4
      if: ${{ failure() }}
      env:
        SLACK_ICON: http://github.com/chainguard-dev.png?size=48
        SLACK_USERNAME: guardian
        SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
        SLACK_CHANNEL: 'alerts-edu'
        SLACK_COLOR: '#8E1600'
        MSG_MINIMAL: 'true'
        SLACK_TITLE: 'AutoDocs Platform failed - ${{ github.repository }}'
        SLACK_MESSAGE: |
          For detailed logs: https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}
