name: Build all terminal images
on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

permissions: {}

jobs:
  build-image:
    runs-on: ubuntu-latest

    if: github.repository == 'chainguard-dev/edu'

    permissions:
      contents: read
      id-token: write # Federate with GCP and sign images

    strategy:
      matrix:
        image:
          - apko
          - cosign
          - policy-controller-base
          - policy-controller-install
          - rekor
          - vexctl

    container:
      image: ghcr.io/wolfi-dev/sdk:latest@sha256:a96b9173cb5dd9d6050ecb11b6ec326f47a32d93537838845be5e558f9103148
      # TODO: Deprivilege
      options: |
        --cap-add NET_ADMIN --cap-add SYS_ADMIN --device /dev/fuse --security-opt seccomp=unconfined --security-opt apparmor:unconfined

    steps:
      - name: 'Github Actions Runner'
        uses: step-security/harden-runner@f4a75cfd619ee5ce8d5b864b0d183aff3c69b55a # v2.13.1
        with:
          egress-policy: audit

      - uses: sigstore/cosign-installer@d7543c93d881b35a8faa02e8e3605f69b7a1ce62 # v3.10.0

      - name: 'Checkout default branch to $GITHUB_WORKSPACE dir'
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: melange keygen
        shell: bash
        working-directory: terminal-images/${{ matrix.image }}
        run: |
          melange keygen

      - name: melange build
        shell: bash
        working-directory: terminal-images/${{ matrix.image }}
        run: |
          melange build melange.yaml --arch x86_64 --signing-key melange.rsa

      - name: Authenticate to Google Cloud
        id: auth
        uses: step-security/google-github-auth@190f7ef9b7a34cc0dfd0c11f0e327365f70071d6 # v2.1.12
        with:
          service_account: "github-chainguard-academy@chainguard-academy.iam.gserviceaccount.com"
          workload_identity_provider: "projects/456977358484/locations/global/workloadIdentityPools/chainguard-academy/providers/chainguard-edu"
          token_format: 'access_token'

      - name: Setup G Cloud SDK
        uses: 'google-github-actions/setup-gcloud@aa5489c8933f4cc7a4f7d45035b3b1440c9c10db' # v3.0.1

      - name: Configure GCR auth
        shell: bash
        run: gcloud auth configure-docker "${{ secrets.TERMINAL_REGISTRY_URL }}"

      - name: apko login
        shell: bash
        run: |
          apko login \
            "${{ secrets.TERMINAL_REGISTRY_URL }}" \
            --password=${{ steps.auth.outputs.access_token }} \
            --username="oauth2accesstoken"

      - name: apko publish
        shell: bash
        # working-directory: terminal-images/${{ matrix.image }}
        run: |
          apko publish \
            --arch x86_64 apko.yaml \
            --image-refs image-refs.txt \
            "${{ secrets.TERMINAL_REGISTRY_URL }}/${{ secrets.TERMINAL_REPOSITORY }}/${{ matrix.image }}:latest" \
            -k melange.rsa.pub \
            --sbom-path . \
            -C terminal-images/${{ matrix.image }}

      # - name: cosign login
      #  shell: bash
      #  run: |
      #    cosign login \
      #      -p ${{ steps.auth.outputs.access_token }} \
      #      -u oauth2accesstoken \
      #      ${{ env.REGISTRY_URL }}

      # - name: cosign attest sbom
      #  working-directory: terminal-images/${{ matrix.image }}
      #  run: cosign attest -y --predicate sbom-x86_64.spdx.json --type spdxjson "$(cat image-refs.txt)"

      # - name: cosign sign image
      #  working-directory: terminal-images/${{ matrix.image }}
      #  run: cosign sign -y "$(cat image-refs.txt)

      - name: Post failure notice to Slack
        uses: step-security/action-slack-notify@e04c77a65bae8b6c0373478a1cb8fd7e012637e6 # v2.3.5
        if: ${{ failure() }}
        env:
          SLACK_ICON: http://github.com/chainguard-dev.png?size=48
          SLACK_USERNAME: guardian
          SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
          SLACK_CHANNEL: 'alerts-edu'
          SLACK_COLOR: '#8E1600'
          MSG_MINIMAL: 'true'
          SLACK_TITLE: 'Build Terminal Images failed - ${{ github.repository }}'
          SLACK_MESSAGE: |
            For detailed logs: https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}
