name: Nginx Configuration Validation

on:
  push:
    branches:
      - main
  pull_request:

permissions: {}

jobs:
  validate:
    runs-on: ubuntu-latest
    if: github.repository == 'chainguard-dev/edu'

    permissions:
      contents: read

    steps:
      - name: 'Github Actions Runner'
        uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2
        with:
          egress-policy: audit

      - name: 'Checkout default branch to $GITHUB_WORKSPACE dir'
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: 16

      - name: Build project
        run: |
          npm install
          npm run build

      - name: Run Nginx validation
        run: |
          docker run --rm -v $(pwd)/nginx.conf:/etc/nginx/nginx.conf -v $(pwd)/public/_aliases:/etc/nginx/aliases -v $(pwd)/public:/usr/share/nginx/html/ cgr.dev/chainguard/nginx:latest-dev -t
