$MaxContentWidth: 1368px;
$MaxContentLayoutWidth: 2000px;
$HideTocWidth: 1024px;
$MobileLayoutWidth: 672px;
$ReduceContentPaddingWidth: 1440px;
$SidebarWidth: 264px;
// Right nav has margins
$RightNavWidth: calc(264px - 12px - 12px);
