/** Custom styles */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400&family=Urbanist&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");

body {
  font-family:
    Inter,
    sans-serif;
  font-size: medium;
}

.docs-content {
  line-height: 2rem;
}

h1,
h2,
h3,
.navbar {
  font-family:
    Urbanist,
    sans-serif;
}

blockquote {
  // background: #f9f9f9;
  font-size: 0.85em;
  border-left: 2px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
}
blockquote > p {
  margin-bottom: 0px;
}
.featured-icon {
  font-size: 4rem;
}

.chainguard-blue {
  color: #454ce4;
}

.chainguard-light {
  color: #e0e1fe;
}

.chainguard-med {
  color: #8087fc;
}

h2#chainctl, h2[id^="chainctl"] {
  display: none;
}

h1 code {
  font-size: 2.0rem;
}

h2 code {
  font-size: 1.5rem;
}

h3 code {
  font-size: 1.25rem;
}

h4 code {
  font-size: 1rem;
}

#note {
  padding: 0 0.5rem;
}

#note.note-deprecated {
  background: lightyellow;
}

#note.note-notice {
  background: lightblue;
}

#note.note-warning {
  background: lightcoral;
}
