@mixin light-mode {
  color-scheme: light;

  --a-original-color: inherit;
  --active-element-background: #f3f3f3;
  --active-element-shadow: #3443f4;
  --active-link-color: #000000;
  --article-link-color: #3443f4;
  --basics-card-background: inherit;
  --basics-card-border: #dcdcdc;
  --blockquote-background: #f3f3f3;
  --blockquote-border: #1c1c1c;
  --blockquote-color: #4d4d4d;
  --board-background-color: #f9f9f9;
  --body-background: #ffffff;
  --body-color: #1c1c1c;
  --body-table-color: inherit;
  --bs-table-bg: inherit;
  --caption-color: #545454;
  --caption-title-color: #1c1c1c;
  --card-background-0: #3443f4;
  --card-background-1: #f99afb;
  --center-title-color: inherit;
  --code-color: #f3f3f3;
  --contact-us-button-background: #3443f4;
  --contact-us-button-color: #ffffff;
  --docs-navigation-border: #e9ecef;
  --docs-navigation-button-border: #dcdcdc;
  --docs-navigation-button-color: #1c1c1c;
  --docs-navigation-color: inherit;
  --expand-button-background: #f3f3f3;
  --expand-button-border: inherit;
  --expand-button-color: #000000;
  --footer-item-color: #545454;
  --footer-item-hover-color: #3443f4;
  --footer-title-color: inherit;
  --form-check-input-background: #ebecfe;
  --form-check-input-checked-background: inherit;
  --form-check-input-checked-border: inherit;
  --form-check-input-color: #3443f4;
  --form-check-input-focus-border: inherit;
  --header-background: #f9f9f9;
  --home-background: #ffffff;
  --index-logo-color: #eeeeee;
  --language-selector-color: #000000;
  --leftnav-border: #dcdcdc;
  --navbar-contact-border: #c2c7fc;
  --navbar-contact-color: #3443f4;
  --note-deprecated: lightyellow;
  --note-notice: lightblue;
  --note-warning: darkorange;
  --notification-background: #0e0e0e;
  --notification-color: #c5c5c5;
  --offcanvas-close-color: #545454;
  --page-link-active-color: #1c1c1c;
  --page-link-color: #545454;
  --pills-icon-background: #f3f3f3;
  --placeholder-color: #8c8c8c;
  --pre-container-background: #ffffff;
  --pre-container-border: #dcdcdc;
  --righthand-title-color: #1c1c1c;
  --search-background: #eeeeee;
  --search-box-background: inherit;
  --search-slash-border: #dcdcdc;
  --segmented-button-background: #F3F3F3;
  --segmented-button-checked: #3443F4;
  --segmented-button-color: #8C8C8C;
  --severity-background: #fff;
  --severity-border: #DCDCDC;
  --severity-color: #1C1C1C;
  --severity-hover-background: #EBECFE;
  --severity-search-background: #F3F3F3;
  --severity-search-border: #3443f4;
  --sidebar-bottom-item-color: #1c1c1c;
  --sidebar-bottom-item-hover-color: #3443f4;
  --sidebar-category-color: #1c1c1c;
  --sidebar-item-active-color: #1c1c1c;
  --sidebar-item-color: #545454;
  --sidebar-item-list-item-selected-background: #eeeeee;
  --sidebar-item-top-color: #1c1c1c;
  --step-background: #f3f3f3;
  --suggestion-description-color: inherit;
  --suggestion-title-color: inherit;
  --suggestions-background: #f9f9f9;
  --suggestions-border: #e9ecef;
  --suggestions-hover-background: #e9ecef;
  --tab-active-color: #1c1c1c;
  --table-header-background: #F3F3F3;
  --table-row-hover-background: #F3F3F3;
  --table-row-background: #FFF;
  --table-row-border-color: #DCDCDC;
  --table-vulnerability-color: #1C1C1C;
  --tabs-active-color: #3443f4;
  --tabs-color: #1c1c1c;
  --tag-background: #f5f0f0;
  --tag-color: #f3f3f3;
  --terminal-background: #ffffff;
  --terminal-border: #e9ecef;
  --terminal-color: #545454;
  --terminal-handle: #dcdcdc;
  --terminal-title-color: #1c1c1c;
  --toggle-icon-color: inherit;
  --tooltip-background: #232323;
  --tooltip-color: #ffffff;
  --tooltip-container-color: inherit;
  --topic-card-hover: #f5f0f0;
  --tutorial-divider-color: #dcdcdc;
  --tutorial-hover-color: #3443f4;
  --watch-btn-border: #dcdcdc;
  --watch-btn-color: #1c1c1c;
  --watch-btn-hover-background: #f5f0f0;

  --info-icon-url: url("/info.svg");
  --chevron-icon-url: url("/chevron.svg");
  --search-icon-url: url("/search.svg");
  --copy-icon-url: url("/copy.svg");
  --copy-icon-opposite-url: url("/copy-dark.svg");
  --select-arrow: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='60' height='30'><path d='M10,10 l15,15 l15,-15' fill='none' stroke='rgb(28,28,28)' stroke-width='7'></path></svg>");
}

@mixin dark-mode {
  color-scheme: dark;

  --a-original-color: #c5c5c5;
  --active-element-background: #0e0e0e;
  --active-element-shadow: #99a1f9;
  --active-link-color: #ffffff;
  --article-link-color: #99a1f9;
  --basics-card-background: #0e0e0e;
  --basics-card-border: #4d4d4d;
  --blockquote-background: #232323;
  --blockquote-border: #c5c5c5;
  --blockquote-color: #eeeeee;
  --board-background-color: #0e0e0e;
  --body-background: #040404;
  --body-color: #dee2e6;
  --body-table-color: inherit;
  --bs-table-bg: inherit;
  --caption-color: #c5c5c5;
  --caption-title-color: #ffffff;
  --card-background-0: #3443f4;
  --card-background-1: #f99afb;
  --center-title-color: #ffffff;
  --code-color: #232323;
  --contact-us-button-background: #6772f7;
  --contact-us-button-color: #ffffff;
  --docs-navigation-border: #4d4d4d;
  --docs-navigation-button-border: #383838;
  --docs-navigation-button-color: #ffffff;
  --docs-navigation-color: #ffffff;
  --expand-button-background: #232323;
  --expand-button-border: transparent;
  --expand-button-color: #ffffff;
  --footer-item-color: #ffffff;
  --footer-title-color: #ffffff;
  --form-check-input-background: #383838;
  --form-check-input-checked-background: #383838;
  --form-check-input-checked-border: #383838;
  --form-check-input-color: #ffffff;
  --form-check-input-focus-border: #383838;
  --header-background: #0e0e0e;
  --home-background: #040404;
  --index-logo-color: #4d4d4d;
  --language-selector-color: #ffffff;
  --leftnav-border: #4d4d4d;
  --navbar-contact-border: #4d4d4d;
  --navbar-contact-color: #ffffff;
  --note-deprecated: yellowgreen;
  --note-notice: darkcyan;
  --note-warning: darkorchid;
  --notification-background: #f9f9f9;
  --notification-color: #1c1c1c;
  --offcanvas-close-color: #c5c5c5;
  --page-link-active-color: #ffffff;
  --page-link-color: #c5c5c5;
  --pills-icon-background: #232323;
  --placeholder-color: #c5c5c5;
  --pre-container-background: #0e0e0e;
  --pre-container-border: #383838;
  --righthand-title-color: #8c8c8c;
  --search-background: #232323;
  --search-box-background: #232323;
  --search-slash-border: #4d4d4d;
  --segmented-button-background: #232323;
  --segmented-button-checked: #3443F4;
  --segmented-button-color: #8C8C8C;
  --severity-background: #0E0E0E;
  --severity-border: #4D4D4D;
  --severity-color: #FFF;
  --severity-hover-background: #0E0E0E;
  --severity-search-background: #232323;
  --sidebar-bottom-item-color: #c5c5c5;
  --sidebar-bottom-item-hover-color: #99a1f9;
  --sidebar-category-color: #8c8c8c;
  --sidebar-item-active-color: #ffffff;
  --sidebar-item-color: #8c8c8c;
  --sidebar-item-list-item-selected-background: #232323;
  --sidebar-item-top-color: #c5c5c5;
  --step-background: #232323;
  --suggestion-description-color: #8c8c8c;
  --suggestion-title-color: #ffffff;
  --suggestions-background: #0e0e0e;
  --suggestions-border: #4d4d4d;
  --suggestions-hover-background: #232323;
  --tab-active-color: #ffffff;
  --table-header-background: #0E0E0E;
  --table-row-border-color: #4d4d4d;
  --table-row-background: #040404;
  --table-row-hover-background: #0E0E0E;
  --table-vulnerability-color: #fff;
  --tabs-active-color: #99a1f9;
  --tabs-color: #8c8c8c;
  --tag-background: #232323;
  --tag-color: #232323;
  --terminal-background: #0e0e0e;
  --terminal-border: #4d4d4d;
  --terminal-color: #ffffff;
  --terminal-handle: #d9d9d9;
  --terminal-title-color: #ffffff;
  --toggle-icon-color: #c5c5c5;
  --tooltip-background: #232323;
  --tooltip-color: #ffffff;
  --tooltip-container-color: #ffffff;
  --topic-card-hover: #232323;
  --tutorial-divider-color: inherit;
  --tutorial-hover-color: #ffffff;
  --watch-btn-border: #4d4d4d;
  --watch-btn-color: #ffffff;
  --watch-btn-hover-background: #232323;

  --info-icon-url: url("/info-dark.svg");
  --chevron-icon-url: url("/chevron-dark.svg");
  --search-icon-url: url("/search-dark.svg");
  --copy-icon-url: url("/copy-dark.svg");
  --copy-icon-opposite-url: url("/copy.svg");
  --chevron-icon-url: url("/chevron-dark.svg");
  --select-arrow: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='60' height='30'><path d='M10,10 l15,15 l15,-15' fill='none' stroke='white' stroke-width='7'></path></svg>");
}

:root {
  @include light-mode;
}

@media (prefers-color-scheme: dark) {
  :root {
    @include dark-mode;
  }
}

:root[mode-loaded] {
  @include light-mode;
}

:root[mode-loaded][data-dark-mode] {
  @include dark-mode;
}